body {
    font:normal 400 16px/20px $montserrat;
    color:#fff;
}
h1,h2,h3,h4 {
    font-family:$roboto;
    font-weight:300;
    margin:1em 0 .8em;
}
h1 {
    font-size:1.8em;
}
h2, .c-h2 {
    font-size:2.3em;
    line-height:1em;
}
.c-h2--big {
    font-size:4em;
    line-height:1.4;
    letter-spacing:1px;
}
h3 {
    font-size:1.7em;
    line-height:1.6;
    font-weight:400;
    margin:1.7em 0;
}
