$good:  #67bb6d;
$info:  #25dc32;
$warn:  #ef9d0f;
$alert: #c95758;

// Shades of gray
$dark:      #212121;
$middark:   #2a2a2a;
$light:     #323232;
$sidebar:   #3a3a3a;
$lighter:   #5D5F5D;
$aside:     #6A6A6A;
$softwhite: #ccc;
$lightwhite:#f0f0f0;

$lightgreen:    #40da56;
$green:         #25DC32;
$darkgreen:     #52d96e;

// TYPOGRAPHY
// Generic
$monospace: Consolas, monospace;
$ssf: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$sf: Georgia, 'Times New Roman', serif;

// Custom
$montserrat: 'Montserrat', $ssf;
$roboto: 'Roboto', $ssf;
