################################################
# Local Configuration
################################################

config/local.js

################################################
# Dependencies
################################################

node_modules

################################################
# Build
################################################

public/app.js
public/sw.js

################################################
# Sails.js / Waterline
################################################

dump.rdb
.sass-cache

################################################
# Node.js / NPM
################################################

lib-cov
*.seed
*.log
*.out
*.pid
npm-debug.log

################################################
# Blitz.io
################################################

mu-*

################################################
# ESLint
################################################

.eslintcache

################################################
# Miscellaneous
################################################

*~
*#
.DS_STORE
.netbeans
nbproject
.idea
.node_history
*.swp
