extends ../layout

block body

    #main-container
        aside.aside
            .sidebar-top
                h1#logo
                    img(src="/images/logo.svg" alt="Monitaure - Monitoring for the masses")
                nav.main-nav
                    ul
                        li.active
                            a(href="/dashboard") Activity
                        li.disabled
                            a(href="#_") Reports
                                span.info 14
                        li.disabled
                            a(href="#_") Messages
                                span.info 123
                nav.misc-nav
                    ul
                        li.disabled
                            a(href="#_") Settings
                        li
                            a(href="https://github.com/Bertrand31/Monitaure/issues", target="_blank") Help
                nav.auth-nav
                    ul
                        li
                            a(href="/logout") Log out
            .sidebar-bottom
                .profile
                    a(href="http://gravatar.com", target="_blank", title="Set or change your profile picture")
                        img(src="https://gravatar.com/avatar/" + data.userData.userEmailMD5 + "?size=100" alt="Profile picture")
                    span= data.userData.userName
        main.main.dashboard
            .content-wrapper
                section#top-button
                section#global-data
                section#chart-container
                    .data
                        p.name
                        p Avg latency: 
                            span.avg
                        p Min latency: 
                            span.min
                        p Max latency: 
                            span.max
                        p Availability: 
                            span.availability
                        p Last outage: 
                            span.last-outage

                    .main-chart
                        .top-data
                            p.latency-wrapper 
                                span.latency-title Latency
                                br
                                span.latency
                                    span.latency-value
                                    |  ms
                            p.last-check-date
            #checks-table-wrapper

    .svgs
        svg(xmlns="http://www.w3.org/2000/svg")
            defs
                linearGradient#GreenGradient
                    stop(offset="0%", stop-color="#5eed80")
                    stop(offset="100%", stop-color="#357e2e")
                linearGradient#LightGreenGradient(x1="0%", y1="0%", x2="0%", y2="100%")
                    stop(offset="0%", stop-color="#5eed80")
                    stop(offset="100%", stop-color="#357e2e")
    script.
        var globalStats = !{JSON.stringify(data.globalStats)};
