@import '../../styleIncludes/variables';

@import './0';
@media screen and (min-width:768px) { @import './768'; };
@media screen and (min-width:1030px) { @import './1030'; };

.o-page {
    font-family:$roboto;
}
.c-button--round, .c-button--empty, .c-button--goto {
    font-family:$roboto;
    font-weight:400;
}
.c-button--round, .c-button--empty {
    display:block;
    padding:.6em 2em;
    border-radius:2em;
    text-transform:none;
}
.c-button--round {
    background:#fff;
    color:#40d89f;
}
.c-button--empty {
    background:transparent;
    color:#fff;
    box-shadow: inset 0px 0px 0px 2px #fff;
    &:hover {
        background:#fff;
        color:#40d89f;
    }
}
.c-button--goto {
    position:relative;
    font-size:.9em;
    background:rgba(#fff, .25);
    border-radius:22px;
    padding:.7em 4.5em .7em 2em;
    color:#fff;
    &:after {
        content:'';
        display:block;
        position:absolute;
        right:1.7em;
        bottom:.15em;
        width:12px;
        height:35px;
        transform:rotate(90deg);
        background:url('/images/stripe-dot.svg') center top no-repeat;
    }
}
