extends ./layout


block body

    .main-container.page-403.o-error
        video.o-error__backvid(autoplay, loop)
            source(src="/videos/err403.mp4", type="video/mp4")
            source(src="/videos/err403.webm", type="video/webm")
        .o-error__content
            h1.o-error__title 403
            p.o-error__body How dare you?
            a.c-button(href="/") Go home
