extends ./layout


block body

    .main-container.page-403.page-error
        video.background-video(autoplay, loop)
            source(src="/videos/err403.mp4", type="video/mp4")
            source(src="/videos/err403.webm", type="video/webm")
        .content
            h1 403
            p How dare you?
            a.button(href="/") Go home
