extends ./layout


block body

    #main-container.page-404
        #parallax-container
            img.parallax--layer#page-404--layer-0(src="/images/404-layer-0.svg")
            img.parallax--layer#page-404--layer-1(src="/images/404-layer-1.svg")
            img.parallax--layer#page-404--layer-2(src="/images/404-layer-2.svg")
