extends ./layout


block body

    .main-container.page-404.page-error
        audio.background-sound(src="/sounds/err404.mp3", autoplay, loop)
        .content
            h1 404
            p You're lost kid…
            a.c-button(href="/") Go home
