extends ./layout


block body

    .main-container.o-error.o-error--404
        audio.o-error__backsound(src="/sounds/err404.mp3", autoplay, loop)
        .o-error__content
            h1.o-error__title 404
            p.o-error__body You're lost kid…
            a.c-button(href="/") Go home
