extends ./layout


block body

    .main-container.page-500.page-error
        video.o-background-video(autoplay, loop)
            source(src="/videos/err500.mp4", type="video/mp4")
            source(src="/videos/err500.webm", type="video/webm")
        .content
            h1 500
            p Ooops…
            a.button(href="/") Go home
