extends ./layout


block body

    .main-container.sign-in
        main.main
            h1.logo
                img(src="/images/logo.svg" width="264" height="39" alt="Monitaure - Monitoring for the masses")
            .centered-box
                h2 Your account has been activated!
                a.button(href="/login") Log in
