extends ./layout

block body

    .main-container
        aside.aside
            .sidebar-top
                h1#logo
                    img(src="/images/logo.svg" alt="Monitaure - Monitoring for the masses")
                #sidebar__nav
            .sidebar-bottom#profile
        main.main.dashboad#pane-container
            .content-wrapper
                section#top-button
                section#global-data
                section#chart-container
            #checks-table-wrapper

    .svgs
        svg(xmlns="http://www.w3.org/2000/svg")
            defs
                linearGradient#GreenGradient
                    stop(offset="0%", stop-color="#5eed80")
                    stop(offset="100%", stop-color="#357e2e")
                linearGradient#LightGreenGradient(x1="0%", y1="0%", x2="0%", y2="100%")
                    stop(offset="0%", stop-color="#5eed80")
                    stop(offset="100%", stop-color="#357e2e")
