extends ./layout


block body

    #main-container.sign-in
        header.header
            h1.logo
                img(src="/images/logo.svg" width="264" height="39" alt="Monitaure - Monitoring for the masses")
            nav.top-nav
                ul
                    li
                        a(href="#_") About us
                    li
                        a(href="#_") Contact
                    li
                        a(href="#_") Sign in

        main.main

            section.hp-section.desk-section
                h2 Monitoring for the masses
                h3 A free and easy-to-use server monitoring dashboard
                a.button(href="#_") Sign up

            section.hp-section.dashboard-section
                h2 Monitoring your servers just became fun
                p No need to download anything.
                    br
                    | Just register for free, add a check, and
                    br
                    | start moitoring your servers from your browser!
                p
                    strong Just one little thing: we rely on top-notch technologies, so please no Internet Explorer (or whatever the call it now).
                a.button(href="#_", title="Sign up to Monitaure!") Sign up
                img(src="/images/dashboard.png", alt="Servers monitoring dashbaord")

            section.hp-section.stats-section
                h2 Keep a sharp eye on your services
                img(src="/images/globalstats.png", alt="Servers uptime")
                p Get, on top of detailled stats for each of your services, a global dashboard suming up how your servers have been holding up over the last month. This way, you can focus on what matters: your servers.
                a.button(href="#_", title="Sign up to Monitaure!") Sign up

            section.hp-section.notifications-section
                h2 Receive notifications when a server goes down.
                p We help you get your services back on track in no time by notifying your by email and text message as soon as we detect a server not responding.
                a.button(href="#_", title="Sign up to Monitaure!") Sign up
                img(src="/images/phone.png", alt="Receive email and phone notifications")

            section.hp-section.about-section
                h2 About us
                p We're two younf french tech-lovers currently living in Paris.
                    br
                    | Feel free to get in touch!
                .about-section--people
                    h3 Bertrand Junqua
                    h4 Back-end and front-end development
                    .links
                        a(href="#_", title="Bertrand Junqua portfolio")
                        a(href="#_", title="Bertrand Junqua Github")
                        a(href="#_", title="Bertrand Junqua Twitter")
                    h3 Guillaume Parra
                    h4 Graphic design
                    .links
                        a(href="#_", title="Guillaume Parra portfolio")
                        a(href="#_", title="Guillaume Parra Github")
                        a(href="#_", title="Guillaume Parra Twitter")
                .about-section--map
                    img(src="/images/map.png", alt="World map")

        footer.footer
            section.logo
                img()
                a(href="http://monitaure.io", title="Free server monitoring") Monitaure.io
            section.text
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lorem odio, sodales at urna a, placerat convallis libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras at dignissim turpis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
            section.aboutus
                a(href="http://github.com/Bertrand31") Bertrand Junqua
                a(href="https://dribbble.com/guillaumeparra") Guillaume Parra

