<header class="header">
    <h1 id="main-title">Monitaure</h1>
</header>
<main class="main">
    <h2>Welcome on Monitaure! Please log in to access the main panel:</h2>
    <form id="authentication" method="get">
        <input id="username" placeholder="Username" type="text" />
        <input id="password" placeholder="Password" type="password" />
        <input type="submit" value="Submit" />
    </form>
</main>
