<div class="default-page">
  <div class="header">
    <h1 id="main-title" class="container"><%= __('Monitaure') %></h1>
    <h3 class="container">You're looking at: <code><%= view.pathFromApp + '.' +view.ext %></code></h3>
  </div>
  <div class="main container clearfix">
    <form id="check-add" method="post">
        <fieldset>
            <legend>Ajouter un check</legend>
            <label for="check-name">
            <input type="text" id="check-name" name="check-name" />
            <label for="check-target">
            <input type="text" id="check-target" name="check-target" />
            <label for="check-port">
            <input type="text" id="check-port" name="check-port" />
            <input type="submit" value="Ajoute le check" id="check-add-button" />
        </fieldset>
    </form>
  </div>
</div>
