extends ./layout


block body

    #page-container.page.front
        header.header
            h1.logo
                img(src="/images/logo.svg" width="264" height="39" alt="Monitaure - Monitoring for the masses")
            nav.top-nav
                ul
                    li
                        a(href="#_") About us
                    li
                        a(href="#_") Contact
                    li
                        a(href="#_").button.button-empty.button-round Sign in

        main.main
            section.hp-section.desk-section
                .wrapper
                    h2 Monitoring for the masses
                    h3 A free and easy-to-use server monitoring dashboard
                    a.button.button-round.button-huge(href="#_") Sign up

            section.hp-section.dashboard-section
                .wrapper
                    h2.bar Monitoring your servers just became fun
                    p No need to download anything.
                        br
                        | Just register for free, add a check, and
                        br
                        | start moitoring your servers from your browser!
                    p
                        strong Just one little thing: we rely on top-notch technologies, so please no Internet Explorer (or whatever the call it now).
                    a.button(href="#_", title="Sign up to Monitaure!") Sign up
                    img(src="/images/hp-dashboard-preview.png", alt="Servers monitoring dashbaord")

            section.hp-section.stats-section
                .wrapper
                    h2.bar Keep a sharp eye on your services
                    img(src="/images/hp-stats-preview.jpg", alt="Servers uptime")
                    p Get, on top of detailled stats for each of your services, a global dashboard suming up how your servers have been holding up over the last month. This way, you can focus on what matters: your servers.
                    a.button(href="#_", title="Sign up to Monitaure!") Sign up

            section.hp-section.notifications-section
                .wrapper
                    h2.bar Receive notifications when a server goes down.
                    p We help you get your services back on track in no time by notifying your by email and text message as soon as we detect a server not responding.
                    a.button(href="#_", title="Sign up to Monitaure!") Sign up

            section.hp-section.about-section
                .wrapper
                    h2.bar About us
                    p We're two younf french tech-lovers currently living in Paris.
                        br
                        | Feel free to get in touch!
                    .about-section--people
                        h3 Bertrand Junqua
                        h4 Back-end and front-end development
                        .social-links
                            a.web(href="#_", title="Bertrand Junqua portfolio")
                            a.github(href="#_", title="Bertrand Junqua on Github")
                            a.twitter(href="#_", title="Bertrand Junqua on Twitter")
                        h3 Guillaume Parra
                        h4 Graphic design
                        .social-links
                            a.web(href="#_", title="Guillaume Parra portfolio")
                            a.dribble(href="#_", title="Guillaume Parra on Dribble")
                            a.twitter(href="#_", title="Guillaume Parra on Twitter")
                    .about-section--map
                        img(src="/images/hp-map.png", alt="World map")

        footer.footer
            .wrapper
                section.logo
                    img(src="/images/logo-monochrome.png" alt="Monitaure logo")
                    a(href="http://monitaure.io", title="Free server monitoring") Monitaure.io
                section.text
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lorem odio, sodales at urna a, placerat convallis libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras at dignissim turpis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                section.aboutus
                    a(href="http://github.com/Bertrand31") Bertrand Junqua
                    a(href="https://dribbble.com/guillaumeparra") Guillaume Parra

