doctype html
html
  head
    title= title

    // Viewport mobile tag for sensible mobile support
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
    // link(href="/styles/importer.css" rel="stylesheet")

    // STYLES
    link(rel="stylesheet", href="/min/production.min.css")
    // STYLES END

    link(href="https://fonts.googleapis.com/css?family=Roboto|Montserrat:400,700" rel="stylesheet")

    link(rel="apple-touch-icon", sizes="57x57", href="/images/apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon", sizes="60x60", href="/images/apple-touch-icon-60x60.png")
    link(rel="apple-touch-icon", sizes="72x72", href="/images/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="76x76", href="/images/apple-touch-icon-76x76.png")
    link(rel="apple-touch-icon", sizes="114x114", href="/images/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon", sizes="120x120", href="/images/apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon", sizes="144x144", href="/images/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon", sizes="152x152", href="/images/apple-touch-icon-152x152.png")
    link(rel="apple-touch-icon", sizes="180x180", href="/images/apple-touch-icon-180x180.png")
    link(rel="icon", type="image/png", href="/images/favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="/images/android-chrome-192x192.png", sizes="192x192")
    link(rel="icon", type="image/png", href="/images/favicon-96x96.png", sizes="96x96")
    link(rel="icon", type="image/png", href="/images/favicon-16x16.png", sizes="16x16")
    link(rel="manifest", href="/manifest.json")
    link(rel="mask-icon", href="/images/safari-pinned-tab.svg", color="#52d96e")
    link(rel="shortcut icon", href="/images/favicon.ico")
    meta(name="apple-mobile-web-app-title", content="Monitaure")
    meta(name="application-name", content="Monitaure")
    meta(name="msapplication-TileColor", content="#da532c")
    meta(name="msapplication-TileImage", content="/images/mstile-144x144.png")
    meta(name="msapplication-config", content="/browserconfig.xml")
    meta(name="theme-color", content="#52d96e")

    block styles

  body
    block body

    .popins-container
    // SCRIPTS
    script(src="/js/dependencies/chartist.js")
    script(src="/js/dependencies/chartist-plugin-tooltip.js")
    script(src="/js/dependencies/jquery-2.2.3.min.js")
    script(src="/js/dependencies/moment.js")
    script(src="/js/ajax.js")
    script(src="/js/chart-data.js")
    script(src="/js/dashboard-table.js")
    script(src="/js/popins.js")
    script(src="/js/scripts.js")
    script(src="/js/utilities.js")
    // SCRIPTS END

