doctype html
html
  head
    title= title

    // Viewport mobile tag for sensible mobile support
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
    link(href="/styles/importer.css" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Roboto|Montserrat:400,700" rel="stylesheet")

    block styles

  body
    block body

    // SCRIPTS
    script(src="/js/dependencies/sails.io.js")
    script(src="/js/dependencies/chartist.js")
    script(src="/js/dependencies/chartist-plugin-tooltip.js")
    script(src="/js/dependencies/jquery-2.2.0.min.js")
    script(src="/js/dependencies/moment.js")
    script(src="/js/scripts.js")
    // SCRIPTS END

