extends ./layout


block body

    #main-container.sign-in
        main.main
            h1.logo
                img(src="/images/logo.svg" width="264" height="39" alt="Monitaure - Monitoring for the masses")
            .form-wrapper
                h2.form-title Log in
                form#login(method="post", action="/login")
                    label Username
                    input#username(name="username", type="text", placeholder="Your username")
                    label Password
                    input#password(name="password", type="password", placeholder="Your password")
                    a(href="#_") Password forgotten?
                    input#submit(type="submit", value="Log in")
                p Don't have an account? 
                    a(href="/signup") Sign up!
