extends ./layout


block body

    .main-container.sign-in
        main.main
            h1.logo
                img(src="/images/logo.svg" width="264" height="39" alt="Monitaure - Monitoring for the masses")
            .c-box
                h2 Activation failed. Either the user was not found or the token is invalid
                a.button(href="/signup") Sign up
