html,body {
    height:100%;
}
.react-container {
    overflow-x:hidden;
}
.l-sidebar, .o-pane-container {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.o-pane-container {
    position:relative;
    left:0;
    margin-top:30px;
    transition:all .3s ease-in-out;
    .s-menu-is-open + & {
        left:132px;
        -webkit-filter: blur(1px) grayscale(50%);
        filter: blur(1px) grayscale(50%);
    }
}
.main-container {
    width:100%;
    display: flex;
    justify-content: center;
    flex-direction:column;
}
.o-blockpage {
    height:100%;
    background:$light url('/images/background.svg') center center no-repeat;
    background-size:cover;
    .o-main {
        justify-content:center;
    }
    .c-box {
        text-transform:none;
    }
}
.l-sidebar {
    position:relative;
    z-index:1;
    display:flex;
    flex-direction:column;
    box-sizing:border-box;
    padding:2em 2.5em 0 2em;
}
.c-mobile-topbar {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    justify-content:space-between;
    display:flex;
    flex-direction:row;
    background:$middark;
    .c-dummy {
        width:62px; //Same with as the hamburger button
    }
}
.c-logo {
    max-width:135px;
    margin:.7em 0;
}
.c-userinfo {
    position:fixed;
    top:.75em;
    right:1em;
    z-index:2;
}
.c-userinfo__image {
    border-radius:50%;
    width:40px;
    height:40px;
}
.c-userinfo__text {
    display:none;
}
.sidebar__nav--wrapper {
    position:fixed;
    padding:0em 2.5em 0 2em;
    box-sizing:border-box;
    background:$light;
    box-shadow:0 0 60px 0 rgba(0,0,0,.4);
    width:265px;
    height:calc(100% - 60px);
    transition:left .3s ease-in-out;
    top:60px;
    left:0;
    &.s-is-hidden {
        left:-265px;
    }
}
.o-main {
    box-sizing:border-box;
    width:100%;
    display:flex;
    flex-direction:column;
}
.pane-components-wrapper {
    width:92%;
    margin:0 auto;
    padding:2em 0;
}

.c-check-stats, .c-globalstats {
    overflow-y:hidden;
    transition:all .3s ease-out;
    opacity:1;
    &.s-is-hidden {
        opacity:0;
        height:0;
        margin:0;
    }
}

.c-pane-top {
    text-align:center;
    .c-pane-top__button {
        display:none;
    }
}
.c-pane-top__title {
    font-size:1.2em;
}
.c-pane-top__title--secondary {
    font-size:.7em;
    line-height:2em;
    color:$aside;
}
.l-grid {
    display:flex;
    flex-direction:row;
    align-items:flex-start;
}
.l-grid__block {
    flex-grow:1;
    margin:1.5em 0 .5em;
    text-align:center;
    position:relative;
}
.c-donut-content {
    text-transform:uppercase;
}
.c-donut-content__main-text {
    font-size:1em;
    line-height:1em;
    position:absolute;
    top:2.3rem;
    left:0;
    right:0;
    .secondary-text {
        display:block;
        color:$lighter;
        font-size:.9rem;
        line-height:1.6rem;
    }
}
.c-donut-content__secondary-text {
    display:block;
    color:$lighter;
    font-size:.9rem;
    line-height:1.2rem;

}
.c-donut-content__aside-text {
    display:block;
    text-transform:uppercase;
    color:$lighter;
    font-size:.9em;
}
    .c-donut {
        .c-donut__primary-bar {
            stroke:$lightgreen;
        }
        .c-donut__secondary-bar {
            stroke:$alert;
        }
    }
.status {
    .c-donut-content__servers {
        display:none;
    }
    .c-donut-content__secondary-text {
        display:none;
    }
}
.availability {
    max-width:230px;
    .c-donut-content__main-text {
        font-size:1em;
        top:1.9rem;
    }
    .c-donut-content__secondary-text {
        font-size:1.2rem;
    }
}
.last-error {
    .c-donut-content__main-text {
        top:1.5em;
    }
    .c-donut-content__main-text--check-name {
        display:none;
    }
    .c-donut-content__secondary-text--hour,
    .c-donut-content__secondary-text--day {
        color:#fff;
        padding:0 .3em;
    }
}
.top-data {
    .latency-wrapper {
        .latency-title {
            color:$info;
            text-transform:uppercase;
        }
        .latency {
            .latency-value {
                font-size:2em;
                line-height:.9em;
            }
            color:#fff;
        }
    }
}
.c-check-stats {
    box-sizing:border-box;
    display:flex;
    position:relative;
    justify-content:space-around;
    align-items:center;
    margin-top:2em;
}
.c-check-stats__data {
    position:absolute;
    top:0;right:0;
    text-align:right;
    p {
        padding:.1em 0;
    }
}
.c-check-stats__name {
    margin-bottom:0;
}
.c-check-stats__min,
.c-check-stats__max,
.c-check-stats__outage {
    display:none;
}
.c-check-stats__lastdate {
    display:none;
}
.c-check-stats__main-chart {
    flex-grow:1;
    position:relative;
    .ct-chart {
        margin-top:2em;
    }
    .ct-label.ct-horizontal.ct-end {
        transform:rotate(-35deg);
        position:relative;
        top:12px;
        left:-10px;
    }
}
.c-table {
    font-size:.92em;
}
.c-table__head {
    .c-checks__status {
        width:60px;
    }
}
.c-checks__domainNameOrIP,
.c-checks__port,
.c-checks__notifications,
.c-checks__edit,
.c-checks__destroy {
    display:none;
}
.o-background-video {
    display:none;
}


.c-table__row {
    th {
        padding:1.1em .3em;
    }
    td {
        padding:1em .3em;
    }
}
