%box {
	padding:1em 4em;
    h2 {
        margin:1em 0 4em;
    }
}
.main-container {
    flex-direction:row;
}
.o-pane-container {
    width:auto;
}
.c-pane-top {
    position:relative;
    padding-top:.5em;
    .c-pane-top__button {
        position:absolute;
        right:0;
        top:0;
        display:block;
        margin:0;
    }
}
.l-grid {
    flex-direction:row;
}
.l-grid__block {
    margin:1.5em 0 .5em;
}
.c-donut-content__main-text {
    font-size:1.4em;
    top:4.8rem;
}
.c-donut-content__secondary-text {
    line-height:1.6rem;

}
.status {
    .c-donut-content__servers {
        display:inline;
    }
    .c-donut-content__secondary-text {
        display:block;
    }
}
.availability {
    .c-donut-content__main-text {
        font-size:3.3em;
        top:4.1rem;
    }
    .c-donut-content__secondary-text {
        font-size:1.2rem;
    }
}
.last-error {
    .c-donut-content__main-text {
        top:4.35rem;
    }
    .c-donut-content__main-text--check-name {
        display:block;
        max-width:167px;
        margin:0 auto;
    }
    .c-donut-content__secondary-text--hour,
    .c-donut-content__secondary-text--day {
        color:$lighter;
        display:inline;
    }
}
.top-data {
    box-sizing:border-box;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:flex-end;
    width:100%;
    padding:0 3.1em;
    .latency-wrapper {
        .latency {
            .latency-value {
                font-size:3.8em;
            }
        }
    }
}
.c-globalstats {
    height:257px;
}
.c-check-stats {
    height:329px;
}

.c-check-stats__data {
    width:200px;
    position:static;
    text-align:left;
    p {
        padding:.4em 0;
    }
}
.c-check-stats__name {
    margin-bottom:.8em;
}
.c-check-stats__lastdate {
    display:block;
    font-size:2em;
}
.c-check-stats__min,
.c-check-stats__max,
.c-check-stats__outage {
    display:block;
}
.c-check-stats__main-chart {
    .ct-chart {
        margin-top:0;
    }
}
.c-checks {
    th:first-child {
        text-indent:0;
    }
}
.c-checks__domainNameOrIP,
.c-checks__port,
.c-checks__notifications,
.c-checks__edit,
.c-checks__destroy {
    display:table-cell;
}
.o-background-video {
    display:block;
}
.page-error.main-container {
    .content {
        font-size:2em;
        z-index:1;
        margin-left:auto;
        margin-right:15%;
    }
}
input[type="submit"] {
    margin:3em 0 1.5em;
}
.c-checks__row {
    th {
        padding:1.5em .5em;
    }
    td {
        padding:1.2em .5em;
    }
}
.react-container.is-offline {
    .c-pane-top__button,
    .c-checks__notifications,
    .c-checks__edit,
    .c-checks__destroy {
        display:none;
    }
}
