.c-checks {
    width:100%;
    margin:1em 0;
    border-spacing:0;
    border-collapse:collapse;
    color:$softwhite;
    cursor:default;
}
.c-checks__head {
    text-align:left;
    background:$middark;
    color:$softwhite;
}
.c-checks__body {
    .c-checks__name { color:#fff; }
    .c-checks__row {
        transition:background .3s ease-in-out;
        background:$middark;
        &:nth-child(odd) {
            background:$light;
        }
        &:hover,&.active {
            background:$lighter;
        }
    }
}
.c-checks__name {
    padding-left:2em;
}
.c-checks__destroy {
    padding-right:2em;
}
.c-checks__status,
.c-checks__port,
.c-checks__notifications,
.c-checks__edit,
.c-checks__destroy {
    box-sizing:border-box;
    max-width:60px;
}
.c-checks__latency {
    box-sizing:border-box;
    max-width:80px;
}

.c-checks__row-enter {
    opacity: 0.01;
}
.c-checks__row-enter.c-checks__row-enter-active {
    opacity: 1;
    transition: all 500ms ease-in;
}
.c-checks__row-leave {
    opacity: 1;
}
.c-checks__row-leave.c-checks__row-leave-active {
    opacity: 0.01;
    transition: all 300ms ease-in;
}

[data-health="up"], [data-health="down"], [data-health="waiting"] {
    background-size:26px 26px;
    background-position: center center;
    background-repeat:no-repeat;
}
[data-health="up"] { background-image:url('../../svg/status-ok.svg'); }
[data-health="down"] { background-image:url('../../svg/status-error.svg'); }
[data-health="waiting"] { background-image:url('../../svg/status-waiting.svg'); }

[data-speed="slow"] { color:$warn; }
[data-speed="fast"],[data-perfect=true] { color:$lightgreen; }
.destroy-check,.settings-check {
    background-position:center center;
    background-repeat:no-repeat;
}
.c-checks__notifications {
    width: 20px;
    position: relative;
    margin: 20px auto;
    label {
        display:block;
        width: 20px;
        height: 20px;
        cursor: pointer;
        background: linear-gradient(top, $dark 0%, $light 100%);
        background: -webkit-linear-gradient(top, $dark 0%, $light 100%);
        border-radius: 4px;
        box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.2);
        &:after {
            content: '';
            display:block;
            width: 9px;
            height: 5px;
            position:relative;
            top: 4px;
            left: 4px;
            border: 3px solid #fcfff4;
            border-top: none;
            border-right: none;
            background: transparent;
            opacity: 0;
            transform: rotate(-45deg);
            transition:opacity .3s ease;
        }
    }
    .input__checkbox {
        visibility: hidden;
        position:absolute;
        &:checked + label:after {
            opacity: 1;
        }
        &[disabled]:checked + label:after {
            opacity:.4;
        }
    }
}
.destroy-check {
    width:20px;
    height:20px;
    background-image:url('../../svg/trash.svg');
    background-size:20px 20px;
}
.is-editing {
    background:red;
    width:20px;
    height:20px;
    // background-image:url('../images/settings.svg');
    background-size:20px 20px;
}
.is-not-editing {
    background:green;
    width:20px;
    height:20px;
    // background-image:url('../images/settings.svg');
    background-size:20px 20px;
}
