body {
    background:$dark;
}
#root {
    height:100%;
}
.logo {
    text-align:center;
    margin:.8em 0;
}
.svgs {
    overflow:hidden;
    height:0;
}
.main-container {
    transition:all .4s linear;
}
