.c-table {
    width:100%;
    margin:1em 0;
    border-spacing:0;
    border-collapse:collapse;
    color:$softwhite;
    cursor:default;
}
.c-table__head {
    text-align:left;
    background:$middark;
    color:$softwhite;
}
.c-table__body {
    .c-checks__name { color:#fff; }
    .c-table__row {
        transition:background .3s ease-in-out;
        background:$middark;
        &:nth-child(odd) {
            background:$light;
        }
        &:hover,&.s-is-open {
            background:$lighter;
        }
    }
}
.c-checks__name {
    padding-left:2em;
}
.c-checks__destroy {
    padding-right:2em;
}
.c-checks__status,
.c-checks__port,
.c-checks__notifications,
.c-checks__edit,
.c-checks__destroy {
    box-sizing:border-box;
    max-width:60px;
}
.c-checks__latency {
    box-sizing:border-box;
    max-width:80px;
}

.c-table__row-enter {
    opacity: 0.01;
}
.c-table__row-enter.c-table__row-enter-active {
    opacity: 1;
    transition: all 500ms ease-in;
}
.c-table__row-leave {
    opacity: 1;
}
.c-table__row-leave.c-table__row-leave-active {
    opacity: 0.01;
    transition: all 300ms ease-in;
}

[data-health="up"], [data-health="down"], [data-health="waiting"], .c-cell--pictogram {
    min-width:26px;
    background-size:26px 26px;
    background-position: center center;
    background-repeat:no-repeat;
}
[data-health="up"] { background-image:url('../../svgs/status-ok.svg'); }
.c-cell-up { background-image:url('../svgs/log-up.svg'); }
[data-health="down"] { background-image:url('../../svgs/status-error.svg'); }
.c-cell-down { background-image:url('../svgs/log-down.svg'); }
[data-health="waiting"] { background-image:url('../../svgs/status-waiting.svg'); }

[data-speed="slow"] { color:$warn; }
[data-speed="fast"],[data-perfect=true] { color:$lightgreen; }
.destroy-check,.settings-check {
    background-position:center center;
    background-repeat:no-repeat;
}
.c-checkbox {
    width:30px;
	height:12px;
	background:#1C1C1C;
	position: relative;
	border-radius: 50px;
    .c-checkbox__label {
		display: block;
		width:18px;
		height:18px;
		position: absolute;
		top:-3px;
		left:-3px;
		cursor:pointer;
		background:$dark;
		border-radius:50px;
		transition:all 0.4s ease-in-out;
    }
	&.is-checked {
        background:#40D89F;
        .c-checkbox__label {
            background:#35C891;
        }
    }
    &.is-disabled .c-checkbox__label {
        cursor:default;
    }
    .input__checkbox {
		visibility: hidden;
		&:checked + .c-checkbox__label {
			left: 17px;
		}
    }
}
.destroy-check {
    width:20px;
    height:20px;
    background-image:url('../svgs/trash.svg');
    background-size:20px 20px;
}
.c-settings-check {
    display:block;
    padding:0;
    width:24px;
    height:24px;
	transition:none;
    &.is-editing {
        color:#35C891;
    }
    &.is-not-editing {
        background:transparent url('../svgs/settings.svg') center center no-repeat;
        background-size:17px 17px;
    }
}
