.o-error {
    display:flex;
    align-items:center;
    height:100%;
    background:transparent center bottom no-repeat;
    background-size:cover;
    overflow-x:hidden;
}
.o-error--404 {
    background-image:url('/images/404.svg');
}
.o-error__content {
    font-size:1.2em;
    text-align:center;
    color:$lightwhite;
}
.o-error__title {
    font-family:$montserrat;
    font-size:5em;
    line-height:1em;
    margin:.2em 0;
}
.o-error__backvid {
    position:fixed;
    top:50%;
    left:50%;
    min-width:100%;
    min-height:100%;
    width:auto;
    height:auto;
    transform:translateX(-50%) translateY(-50%);
}
