body {
    background:$dark;
}
#root {
    height:100%;
}
.logo {
    text-align:center;
    margin:.8em 0;
}
.svgs {
    overflow:hidden;
    height:0;
}
.main-container {
    transition:all .4s linear;
}
.react-container {
    &:after {
        content:'';
        display:block;
        position:fixed;
        bottom:1em;
        right:1em;
        width:48px;
        height:48px;
        opacity:0;
        background:$light url('../svgs/icon-offline.svg') center center no-repeat;
        background-size:35px;
        box-shadow:0 0 8px 0 rgba($dark, .8);
        border-radius:4px;
        pointer-events:none;
        transition:opacity .3s ease-in-out;
    }
    &.is-offline:after {
        opacity:.75;
    }
}
