.c-topnav {
    padding:0 3%;
}
.c-pane {
    padding:2% 0;
    box-sizing:border-box;
    background:#fff;
    color:$dark;
    &.c-pane--small {
        padding:5% 2em;
    }
}
.c-pane--green {
    color:#fff;
}
.c-pane--first__wrapper {
    width:100%;
    height:100%;
    border:10px solid #fff;
    background: #40d89f;
    background: -moz-linear-gradient(-45deg, #40d89f 0%, #6cf388 100%);
    background: -webkit-linear-gradient(-45deg, #40d89f 0%,#6cf388 100%);
    background: linear-gradient(135deg, #40d89f 0%,#6cf388 100%);
}
.c-pane--second {
    text-align:center;
    background:#fff;
    .c-flex-wrapper {
        width:100%;
    }
    .l-pane-grid__item {
        flex-grow:1;
    }
}
.c-imgtxt {
    text-align:center;
    margin:0 auto;
    max-width:250px;
}
.c-imgtxt__title {
    color:$bluegreen;
    font-weight:300;
    margin:0 0 .3em;
    &:before {
        content:"";
        margin:0 auto 1.4em;
        display:block;
        width:100px;
        height:100px;
        background:#fff center bottom no-repeat;
        padding:0 .7em;
    }
}
.c-imgtxt--browser {
    .c-imgtxt__title:before {
        background-image:url('../../svg/icon-download.svg');
    }
}
.c-imgtxt--tech {
    .c-imgtxt__title:before {
        background-image:url('../../svg/icon-gear.svg');
    }
}
.c-imgtxt--free {
    .c-imgtxt__title:before {
        background-image:url('../../svg/icon-free.svg');
    }
}
.c-imgtxt__body {
    color:#C7C7C7;
    font-weight:400;
    font-size:1.2em;
    line-height:1.3;
}
.c-pane--small {
    text-align:center;
    justify-content:center;
}
.c-pane--small .l-pane-grid {
    flex-grow:1;
    max-width:1300px;
}
.c-pane--small .l-pane-grid__item {
    display:flex;
    flex-direction:column;
}
.c-pane--small__number {
    margin:.3em 0;
    color:$bluegreen;
    font-size:4em;
    font-weight:100;
}
.c-pane--small__image {
    margin-left:auto;
}
.c-pane--small__title {
    font-size:2.35em;
    font-weight:300;
    margin-top:0;
    margin-bottom:.8em;
}
.c-pane__body {
    font-size:1.25em;
    line-height:1.3;
    color:#979797;
}
.c-pane--realtime {
    background:#f9f9f9;
}
