.c-pane--green {
    background: #40d89f;
    background: -moz-linear-gradient(-45deg, #40d89f 0%, #6cf388 100%);
    background: -webkit-linear-gradient(-45deg, #40d89f 0%,#6cf388 100%);
    background: linear-gradient(135deg, #40d89f 0%,#6cf388 100%);
}
