.l-pane-grid {
    display:flex;
    margin:0 auto;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    align-content:center;
    .c-pane--small & {
        max-width:1400px;
    }
}
.c-pane--big,
.c-footer {
    .l-pane-grid {
        max-width:1400px;
    }
}
.c-topnav {
    max-width:1400px;
    box-sizing:border-box;
    position:absolute;
    top:15px;
    left:0;
    right:0;
    z-index:2;
    margin:0 auto;
}
.c-pane {
    padding:0;
    position:relative;
    display:flex;
    align-items:center;
    justify-content:center;
}
.c-h2 {
    margin-bottom:3.7em;
}
.c-pane--big {
    height:100vh;
}
.c-pane--small {
    height:50vh;
}
.c-pane--first {
    &:after {
        position:absolute;
        bottom:10px;
        left:8%;
        display:block;
        content:"Scroll down";
        height:86px;
        padding-left:1.4em;
        background:url('/images/stripe-dot.svg') left bottom no-repeat;
    }
    .c-pane--first__wrapper {
        padding-top:67px;
        box-sizing:border-box;
        display:flex;
        justify-content:center;
    }
    .l-pane-grid__item {
        align-self:flex-start;
        &:first-child {
            margin-left:3%;
        }
        &.l-pane-grid__item--image {
            align-self:center;
            flex-grow:1;
            width:689px;
        }
    }
}
.c-pane--first__wrapper {
    .c-content {
        width:100%;
        align-self:center;
    }
}
.c-stripeback {
    position:absolute;
    top:0;
    left:0;
    right:0;
    height:100%;
}
.c-bar {
    position:absolute;
    top:0;
    padding:0 1.5%;
    box-sizing:content-box;
}
@for $i from 1 through 11 {
    .c-bar-#{$i} {
        left: percentage($i * (1/12)) - 1.5%;
    }
}
.c-bar__line {
    height:calc(100vh - 20px);
    opacity:.26;
    background:#fff;
    width:1px;
}
$dot-size: 5px;
.c-bar__dot {
    position:absolute;
    left:calc(50% - 2px);
    background:#fff;
    height:$dot-size;
    width:$dot-size;
    top:-#{$dot-size};
    border-radius:100%;
    animation-duration:1s;
    animation-iteration-count:1;
    animation-timing-function:ease-out;
    animation-fill-mode:forwards;
}
$positions: 60% 70% 76% 77% 72% 60% 50% 42% 38% 33% 30%;
@for $i from 1 through length($positions) {
    .c-bar-#{$i} .c-bar__dot {
        animation-name:arrive-#{$i};
        animation-delay:$i / 4 + 2s;
    }
    @keyframes arrive-#{$i} {
        0% { top:-#{$dot-size}; }
        100% { top:nth($positions, $i); }
    }
}
.c-pane--second {
    .l-pane-grid {
        align-items:flex-start;
        background:#fff url('../../svg/dot-line.svg') center 45px repeat-x;
        background-size:15px 15px;
    }
}

.c-pane--small {
    text-align:left;
}
.c-pane--small .l-pane-grid__item {
    flex-direction:row;
}
.c-pane--realtime {
    .l-pane-grid__item {
        &:first-of-type {
            width:40%;
        }
        &:nth-of-type(2) {
            flex-grow:1;
        }
    }
    .c-pane--small__image {
        margin-left:auto;
    }
}
.c-pane--small__image {
    margin:0 auto;
}
.c-pane--small__number {
    margin:0 1.5em 0;
    line-height:.6;
}
.c-pane--notifications .l-pane-grid__item {
    &:nth-of-type(2) {
        width:40%;
    }
}
.c-pane--bubbles {
    position:relative;
    .l-pane-grid {
        z-index:1;
    }
}
.c-pane--bubbles__bubbles-container {
    overflow:hidden;
    position:absolute;
    left:0;right:0;
    top:0;
    z-index:0;
    height:100%;
}
.c-pane--bubbles__bubble {
    opacity:.2;
    position:absolute;
    &:first-of-type {
        bottom:-150px;
        left:-150px;
        height:340px;
        width:340px;
        border-radius:340px;
        border:solid 10px #fff;
    }
    &:nth-of-type(2) {
        top:-40px;
        left:25%;
        height:85px;
        width:85px;
        border-radius:85px;
        border:solid 10px #fff;
    }
    &:last-of-type {
        top:7%;
        right:-65px;
        height:120px;
        width:120px;
        border-radius:120px;
        border:solid 10px #fff;
    }
    height:50px;
    width:50px;
    border-radius:50px;
    border:solid 10px #fff;
}
.c-pane--hybrid .l-pane-grid__item {
    &:first-of-type {
        width:40%;
    }
    &:nth-of-type(2) {
        flex-grow:1;
    }
}
.c-pane--about {
    .c-h3--big {
        margin-top:0;
    }
}
.c-person {
    margin-top:5em;
}
.c-pane--about__wrapper {
    max-width:1200px;
    position:relative;
    &:before {
        content:"";
        display:block;
        position:absolute;
        left:0;
        right:0;
        margin:0 auto;
        top:47%;
        width:200px;
        height:15px;
        background:transparent url('../../svg/dot-line.svg') center center repeat-x;
        background-size:15px 15px;
    }
}
.c-pane--try {
    position:relative;
    height:388px;
    &:before {
        content:'';
        display:block;
        position:absolute;
        left:2%;
        bottom:0;
        z-index:1;
        width:126px;
        height:504px;
        background:transparent url('/images/iphone-sideview.png') center center no-repeat;
    }
    .l-pane-grid {
        flex-direction:column;
    }
}
.c-footer__logo {
    min-width:200px;
}
.c-footer__nav {
    padding:0 10%;
}
