@import '../includes/variables';

@import './0';
@media screen and (min-width:768px) { @import './768'; };
@media screen and (min-width:1030px) { @import './1030'; };

.o-page {
    font-family:$roboto;
}
.c-button--round, .c-button--empty, .c-button--goto {
    font-family:$roboto;
}
.c-button--round, .c-button--empty {
    display:block;
    padding:.6em 2em;
    border-radius:22px;
    text-transform:none;
}
.c-button--round {
    background:#fff;
    color:#40d89f;
}
.c-button--empty {
    background:transparent;
    color:#fff;
    box-shadow: inset 0px 0px 0px 2px #fff;
    &:hover {
        background:#fff;
        color:#40d89f;
    }
}
.c-button--goto {
    font-size:1.1em;
    background:rgba(#fff, .25);
    border-radius:22px;
    padding:.6em 2em;
    color:#fff;
    transition:all .3s ease-in-out;
    &:hover {
        background:#fff;
        color:#40d89f;
    }
}
.c-content {
    z-index:1;
}
.c-topnav__menu {
    display:flex;
    align-items:center;
}
.c-topnav__el {
    margin:0 1em;
}
.c-topnav__el--central {
    flex-grow:1;
    display:flex;
    justify-content:center;
}
