.c-check-stats__data {
    color:$aside;
    p {
        padding:.4em 0;
    }
}
.c-check-stats__name {
    margin-bottom:.8em;
    color:$lightwhite;
}
#chart-container {
    color:$lighter;
    font-size:.97em;
    p {
        padding:.2em;
    }
    .name {
        color:#fff;
        margin-bottom:1em;
    }
}
.ct-series-a {
    .ct-line {
        stroke:url(#LightGreenGradient);
        stroke-width: 3px;
    }
    .ct-point {
        stroke:$darkgreen;
        stroke-width:6px;
        filter:drop-shadow(0px 0px 6px rgba($darkgreen,.7));
        transition:all .25s ease-in-out;
        &:hover {
            stroke-opacity:.3;
            stroke-width:15px;
        }
    }
    .ct-area {
        fill:url(#GreenGradient);
    }
}
.ct-label {
	color:$lighter;
    &.ct-horizontal {
        font-size:.85em;
        position:relative;
        left:-24%;
    }
    &.ct-vertical {
        font-size:.8em;
        width:49px!important;
        position:relative;
        left:-10px;
    }
}
.ct-grid {
    stroke:rgba($lighter, 0.3);
    stroke-dasharray:0;
}
// .ct-tooltip {
//     position:absolute;
//     display:inline-block;
//     min-width:5em;
//     padding:.5em .8em;
//     background:$light;
//     color:$softwhite;
//     font-size:.8em;
//     line-height:1.3em;
//     border-radius:7px;
//     text-align: center;
//     pointer-events: none;
//     z-index:1;
//     transition:opacity .2s linear;
//     &:before {
//         content: "";
//         position: absolute;
//         top: 100%;
//         left: 50%;
//         width: 0;
//         height: 0;
//         margin-left: -8px;
//         border: 8px solid transparent;
//         border-top-color: $light;
//     }
//     &.hide { opacity:0; }
// }
