.c-checks {
    width:100%;
    margin:1em 0;
    border-spacing:0;
    border-collapse:collapse;
    color:$softwhite;
    cursor:default;
}
.c-checks__row {
    th {
        padding:1.5em .5em;
    }
    td {
        padding:1.2em .5em;
    }
}
.c-checks__head {
    text-align:left;
    background:$middark;
    color:$softwhite;
}
.c-checks__body {
    .c-checks__name { color:#fff; }
    .c-checks__row {
        transition:background .3s ease-in-out;
        background:$middark;
        &:nth-child(odd) {
            background:$light;
        }
        &:hover,&.active {
            background:$lighter;
        }
    }
}
.c-checks__name {
    padding-left:2em;
}
.c-checks__destroy {
    padding-right:2em;
}
.c-checks__status,
.c-checks__port,
.c-checks__latency,
.c-checks__notifications,
.c-checks__edit,
.c-checks__destroy {
    box-sizing:border-box;
    max-width:60px;
}

.c-checks__row-enter {
    opacity: 0.01;
}
.c-checks__row-enter.c-checks__row-enter-active {
    opacity: 1;
    transition: all 500ms ease-in;
}
.c-checks__row-leave {
    opacity: 1;
}
.c-checks__row-leave.c-checks__row-leave-active {
    opacity: 0.01;
    transition: all 300ms ease-in;
}

[data-health="up"], [data-health="down"], [data-health="waiting"] {
    background-size:26px 26px;
    background-position: center center;
    background-repeat:no-repeat;
}
[data-health="up"] { background-image:url('../images/status-ok.svg'); }
[data-health="down"] { background-image:url('../images/status-error.svg'); }
[data-health="waiting"] { background-image:url('../images/status-waiting.svg'); }

[data-speed="slow"] { color:$warn; }
[data-speed="fast"],[data-perfect=true] { color:$lightgreen; }
.destroy-check,.settings-check {
    background-position:center center;
    background-repeat:no-repeat;
}
.destroy-check {
    width:20px;
    height:20px;
    background-image:url('../images/trash.svg');
    background-size:20px 20px;
}
.is-editing {
    background:red;
    width:20px;
    height:20px;
    // background-image:url('../images/settings.svg');
    background-size:20px 20px;
}
.is-not-editing {
    background:green;
    width:20px;
    height:20px;
    // background-image:url('../images/settings.svg');
    background-size:20px 20px;
}
