.l-grid__block {
    flex-grow:1;
    text-align:center;
    position:relative;
}
.c-donut-content {
    text-transform:uppercase;
}
.c-donut-content__main-text {
    font-size:1.4em;
    line-height:1em;
    position:absolute;
    top:5rem;
    left:0;
    right:0;
    .secondary-text {
        display:block;
        color:$lighter;
        font-size:.9rem;
        line-height:1.6rem;
    }
}
.c-donut-content__secondary-text {
    display:block;
    color:$lighter;
    font-size:.9rem;
    line-height:1.6rem;

}
.c-donut-content__aside-text {
    display:block;
    text-transform:uppercase;
    color:$lighter;
}
.c-donut {
    .c-donut__primary-bar {
        stroke:$lightgreen;
    }
    .c-donut__secondary-bar {
        stroke:$middark;
    }
}
.availability {
    max-width:230px;
    .c-donut {
        .c-donut__primary-bar {
            stroke:$lightgreen;
        }
        .c-donut__secondary-bar {
            stroke:$alert;
        }
    }
    .c-donut-content__main-text {
        font-size:3.3em;
        top:4.4rem;
    }
    .c-donut-content__secondary-text {
        font-size:1.2rem;
    }
}
.last-error {
    .c-donut {
        .c-donut__primary-bar--ok {
            stroke:$lightgreen;
        }
        .c-donut__primary-bar--nok {
            stroke:$alert;
        }
    }
    .c-donut-content__main-text {
        top:4.6rem;
    }
    .c-donut-content__main-text--check-name {
        display:block;
        max-width:167px;
        margin:0 auto;
    }
    .c-donut-content__secondary-text--hour,
    .c-donut-content__secondary-text--day {
        display:inline;
        padding:0 .3em;
    }
}
