table {
    width:100%;
    margin:1em 0;
    border-spacing:0;
    border-collapse:collapse;
    color:$softwhite;
    cursor:default;
    td, th {
        &:first-child { padding-left:2em; }
        &:last-child { padding-right:2em; }
        &:first-child, &:last-child, &:nth-last-child(2) {
            box-sizing:border-box;
            max-width:60px;
        }
    }
    th {
        padding:1.5em .5em;
    }
    td {
        padding:1em .5em;
    }
    thead {
        text-align:left;
        background:$middark;
        color:$softwhite;
    }
    tbody {
        .name { color:#fff; }
        tr {
            @include transition(background .3s ease-in-out);
            background:$middark;
            &:nth-child(odd) {
                background:$light;
            }
            &:hover,&.active {
                background:$lighter;
            }
        }
    }
}
[data-health="up"], [data-health="down"], [data-health="waiting"] {
    background-size:26px 26px;
    background-position: center center;
    background-repeat:no-repeat;
}
[data-health="up"] { background-image:url('../images/status-ok.svg'); }
[data-health="down"] { background-image:url('../images/status-error.svg'); }
[data-health="waiting"] { background-image:url('../images/status-waiting.svg'); }

[data-speed="slow"] { color:$warn; }
[data-perfect=true] { color:$lightgreen; }
.destroy-check,.settings-check {
    background-position:center center;
    background-repeat:no-repeat;
}
.destroy-check {
    width:20px;
    height:20px;
    background-image:url('../images/trash.svg');
    background-size:20px 20px;
}
.is-editing {
    background:red;
    width:20px;
    height:20px;
    // background-image:url('../images/settings.svg');
    background-size:20px 20px;
}
.is-not-editing {
    background:green;
    width:20px;
    height:20px;
    // background-image:url('../images/settings.svg');
    background-size:20px 20px;
}
