.c-popins-container {
    position:absolute;
    top:1.8em;
    right:2.3em;
    z-index:2;
}
.c-popin {
    @extend %box;
    color:$lighter;
    padding:1.5em 1.1em;
    margin:0 0 1em;
    text-align:left;
    text-transform:none;
    font-family:$roboto;
    font-weight:700;
    cursor:default;
    position:relative;
}
.c-popin--info .c-popin__body:before {
    border:2px solid $info;
    background-image:url('/images/status-ok.svg');
}
.c-popin--alert .c-popin__body:before {
        border:2px solid $alert;
        background-image:url('/images/status-error.svg');
}
.c-popin__body {
    position:relative;
    padding:0 3em 0 57px;
    &:before {
        content:"";
        display:block;
        position:absolute;
        left:0;
        top:calc(50% - 17px);
        padding:2px;
        height:34px;
        width:34px;
        box-sizing:border-box;
        border-radius:17px;
        background:transparent center center no-repeat;
        background-size:26px;
    }
}
.c-popin__close {
    @include cross();
    top:calc(50% - 6px);
}
