%box {
	padding:1em 4em;
    h2 {
        margin:1em 0 4em;
    }
}
.main-container {
    flex-direction:row;
}
.l-sidebar {
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:265px;
    padding:2em 2.5em 0 2em;
    justify-content:space-between;
}
.o-pane-container {
    width:calc(100% - 265px);
    margin-left:auto;
}
.c-pane-top {
    position:relative;
    padding-top:.5em;
}
.c-pane-top__button {
    position:absolute;
    right:0;
    top:0;
    margin:0;
}
.l-grid {
    flex-direction:row;
}
.l-grid__block {
    margin:1.5em 0 .5em;
}
.top-data {
    box-sizing:border-box;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:flex-end;
    width:100%;
    padding:0 3.1em;
    .latency-wrapper {
        .latency {
            .latency-value {
                font-size:3.8em;
            }
        }
    }
}
.c-check-stats__data {
    width:200px;
    position:static;
    text-align:left;
    p {
        padding:.4em 0;
    }
}
.c-check-stats__name {
    margin-bottom:.8em;
}
.c-check-stats__lastdate {
    display:block;
    font-size:2em;
}
.c-check-stats__min,
.c-check-stats__max,
.c-check-stats__outage {
    display:block;
}
.c-check-stats__main-chart {
    .ct-chart {
        margin-top:0;
    }
}
.c-checks {
    th:first-child {
        text-indent:0;
    }
}
.c-checks__domainNameOrIP,
.c-checks__port,
.c-checks__notifications,
.c-checks__edit,
.c-checks__destroy {
    display:table-cell;
}
.o-background-video {
    display:block;
}
.page-error.main-container {
    .content {
        font-size:2em;
        z-index:1;
        margin-left:auto;
        margin-right:15%;
    }
}
input[type="submit"] {
    margin:3em 0 1.5em;
}
