html,body {
    height: 100%;
}
#main-container {
    height:100%;
    width:100%;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;

    -ms-flex-direction: row;
    @include box-orient(horizontal);
}
.content-wrapper {
    width:92%;
    margin:2em auto;
}
.top-buttons {
    text-align:right;
}
.top-data {
    width:100%;
    padding:0 3.1em;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:flex-end;
    .latency-wrapper {
        .latency-title {
            color:$info;
            text-transform:uppercase;
        }
        .latency {
            .latency-value {
                font-size:3.8em;
                line-height:.9em;
            }
            color:#fff;
        }
    }
    .last-check-date {
        font-size:2em;
    }
}
#chart-container {
    @include justify-content(space-around);
    @include align-items(center);
    .data {
        width:200px;
    }
    .main-chart {
        flex-grow:1;
    }
}
