html,body {
    height: 100%;
}
#main-container {
    height:100%;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;

    -ms-flex-direction: row;
    @include box-orient(horizontal);
}
.content-wrapper {
    width:92%;
    margin:2em auto;
}
.top-buttons {
    text-align:right;
}
#chart-container {
    @include justify-content(space-around);
    @include align-items(center);
    .data {
        width:200px;
    }
    .main-chart {
        flex-grow:1;
    }
}
