html,body {
    height:100%;
}
.main-container {
    width:100%;
    display: flex;
    justify-content: center;
    flex-direction:column;
    &.sign-in {
        height:100%;
    }
}
.l-sidebar {
    display:flex;
    flex-direction:column;
    box-sizing:border-box;
    padding:2em 2.5em 0 2em;
}
.o-main {
    box-sizing:border-box;
    width:100%;
    display:flex;
    flex-direction:column;
}
.pane-components-wrapper {
    width:92%;
    margin:0 auto;
    padding:2em 0;
}
.c-pane-top {
    text-align:center;
}
.c-pane-top__title {
    font-size:1.2em;
}
.c-pane-top__title--secondary {
    font-size:.7em;
    line-height:2em;
    color:$aside;
}
.l-grid {
    display:flex;
    flex-direction:column;
    align-items:center;
}
.l-grid__block {
    margin:1em 0;
}
.top-data {
    .latency-wrapper {
        .latency-title {
            color:$info;
            text-transform:uppercase;
        }
        .latency {
            .latency-value {
                font-size:2em;
                line-height:.9em;
            }
            color:#fff;
        }
    }
}
.c-check-stats {
    display:flex;
    position:relative;
    justify-content:space-around;
    align-items:center;
    margin-top:2em;
}
.c-check-stats__data {
    position:absolute;
    top:0;right:0;
    text-align:right;
    p {
        padding:.1em 0;
    }
}
.c-check-stats__name {
    margin-bottom:0;
}
.c-check-stats__min,
.c-check-stats__max,
.c-check-stats__outage {
    display:none;
}
.c-check-stats__lastdate {
    display:none;
}
.c-check-stats__main-chart {
    flex-grow:1;
    position:relative;
    .ct-chart {
        margin-top:2em;
    }
    .ct-label.ct-horizontal.ct-end {
        transform:rotate(-35deg);
        position:relative;
        top:12px;
        left:-10px;
    }
}
.c-checks__head {
    .c-checks__status {
        text-indent:-9999px;
    }
}
.c-checks__domainNameOrIP,
.c-checks__port,
.c-checks__notifications,
.c-checks__edit,
.c-checks__destroy {
    display:none;
    }
.o-background-video {
    display:none;
}
