body {
    font:normal 400 16px/20px $montserrat;
    color:#fff;
}
h1,h2,h3,h4 {
    font-family:$roboto;
    font-weight:300;
    margin:1em 0 .8em;
}
h1 {
    font-size:1.8em;
}
h3 {
    font-size:1.7em;
    line-height:1.6;
    font-weight:400;
    margin:1.7em 0;
}
h1,h2,h3,h4,p {
    font-smooth:always;
    -webkit-font-smoothing:antialiased;
    text-rendering:optimizeLegibility;
    font-feature-settings: "liga1" 1, "dlig" 1, "kern" 1;
    hyphens:auto;
    -webkit-hyphenate-before: 2;
    -webkit-hyphenate-after: 3;
    hyphenate-lines: 3;
}
