%button {
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
	border:0;
	margin:1.5em 0;
	padding:.8em 2.4em;
    background:$lightgreen;
	background:-webkit-linear-gradient(left, $lightgreen, $darkgreen);
	background:   -moz-linear-gradient(left, $lightgreen, $darkgreen);
	background:     -o-linear-gradient(left, $lightgreen, $darkgreen);
	background:        linear-gradient(left, $lightgreen, $darkgreen);
	color:#fff;
	display:inline-block;
	font:normal 400 1em $montserrat;
	text-transform:uppercase;
	border-radius:.25em;
	cursor:pointer;
	transition:all .2s ease-in-out;
	&:hover,&:focus,&:active {
		box-shadow:0 0 .4em 0 rgba($lightgreen, .7);
	}
}
.c-form {
	font-family:$roboto;
	a {
		display:block;
		width: 100%;
		color: #bcbcbc;
		margin: 0 0 1em;
		font-size: .8em;
	}
	.error {
		margin-bottom:2em;
		&:before {
			content:'';
			display:inline-block;
			background:transparent url('/images/status-error.svg') center center no-repeat;
			height:1.5em;;
			width:1.5em;
			margin-right:.6em;
			position:relative;
			top:calc(.5em / 2);
		}
	}
}
.c-form__group {
	border:0;
	text-align:left;
	legend {
        font-size:1.4em;
        line-height:1em;
        text-transform:uppercase;
	}
}
.c-form__label {
	display:block;
	color: $lightgreen;
	font-size: .8em;
}
.input__text {
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
    font-size: 1em;
    margin:.15em 0 1em 0 ;
    width: 100%;
    font-family: $roboto;
    font-weight: 600;
    color:$lighter;
    border:0;
    border-bottom:1px solid $softwhite;
    background:transparent;
    &:disabled {
        border:0;
    }
}
.input__text--dark {
    color:$softwhite;
    margin:0; // Unrelated, but dark fields are inside the table
}

input[type="submit"], .button {
	@extend %button;
}
