%button {
    @include appearance(none);
    border:0;
    padding:.8em 2.4em;
    @include background(linear-gradient(left, $lightgreen, $darkgreen));
    color:#fff;
    display:inline-block;
    font:normal 400 1em $montserrat;
    text-transform:uppercase;
    border-radius:4px;
    cursor:pointer;
}
%button-sensitive {
    color:#fff;
    background:$alert;
}

fieldset {
    border:0;
    legend {
        @extend h2;
    }
}
input {
    &[type="text"],&[type="email"],&[type="password"] {
        background:transparent;
        display:block;
        border:0;
        border-bottom:1px solid $softwhite;
        font:3.5em $montserrat;
        color:#fff;
    }
}
input[type="submit"], button {
    @extend %button;
}

#check-add {
    input {
        margin:.8em 0;
    }
    input[type="submit"] { display:none; }
}
.destroy-check {
    @extend %button-sensitive;
}
