%button {
    @include appearance(none);
    border:0;
    margin:3em 0 1.5em;
    padding:.8em 2.4em;
    @include background(linear-gradient(left, $lightgreen, $darkgreen));
    color:#fff;
    display:inline-block;
    font:normal 400 1em $montserrat;
    text-transform:uppercase;
    border-radius:.25em;
    cursor:pointer;
    transition:all .2s ease-in-out;
    &:hover,&:focus,&:active {
        box-shadow:0 0 .4em 0 rgba($lightgreen, .7);
    }
}
form {
    font-family:$roboto;
    a {
        display:block;
        width: 100%;
        color: #bcbcbc;
        margin: 0 0 1em;
        font-size: .8em;
    }
    .error {
        margin-bottom:2em;
        &:before {
            content:'';
            display:inline-block;
            background:transparent url('/images/status-error.svg') center center no-repeat;
            height:1.5em;;
            width:1.5em;
            margin-right:.6em;
            position:relative;
            top:calc(.5em / 2);
        }
    }
}
.form-title {
    color: $dark;
    font-weight: 200;
    margin: 1em 0 4em;
}
fieldset {
    border:0;
    legend {
        @extend h2;
    }
}
label {
    display:block;
    color: $lightgreen;
    text-align: left;
    font-size: .8em;
}
input {
    &[type="text"], &[type="email"], &[type="password"] {
        font-size: 1em;
        margin:.15em 0 1em 0 ;
        width: 100%;
        font-family: $roboto;
        font-weight: 600;
        color:$lighter;
        border:0;
        border-bottom:1px solid $softwhite;
    }
}
input[type="submit"], .button {
    @extend %button;
}
.fullscreen-wrapper {
    input {
        &[type="text"],&[type="email"],&[type="password"] {
            background:transparent;
            display:block;
            font:3.5em $montserrat;
            color:#fff;
            margin:.8em 0;
        }
    }
    input[type="submit"] { display:none; }
}
.form-wrapper {
    @extend %box;
    margin:.8em 0;
    padding: 1em 4em;
    width:100%;
    max-width:460px;
    align-self: center;
    text: {
        align:center;
        transform: uppercase;
    }
    font-weight: 600;
}
