body {
    background:$dark;
}
.logo {
    text-align:center;
    margin:.8em 0;
}
.info {
    background:$info;
    border-radius:1em;
    color:$dark;
    padding:.3em .5em;
    font:700 .75em $montserrat;
    float:right;
}
.fullscreen-wrapper {
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.8);
    @include align-items(center);
    @include justify-content(center);
}
.close-fullscreen {
    position: absolute;
    right:50px;
    top:50px;
    width:50px;
    height:50px;
    opacity:.7;
    &:hover {
        opacity:1;
    }
    &:before,&:after {
        position: absolute;
        top:-50%;
        left:50%;
        content: ' ';
        height:70px;
        width: 2px;
        background-color:$softwhite;

    }
    &:before {
        transform: rotate(45deg);
    }
    &:after {
       transform: rotate(-45deg);
    }
}
.svgs {
    overflow:hidden;
    height:0;
}
.blurred {
    @include filter(blur(5px));
}
[data-health="ok"], [data-health="nok"] {
    background-size:26px 26px;
    background-position: center center;
    background-repeat:no-repeat;
}
[data-health="ok"] { background-image:url('../images/status-ok.svg'); }
[data-health="nok"] { background-image:url('../images/status-error.svg'); }
[data-speed="slow"] { color:$warn; }
[data-perfect=true] { color:$lightgreen; }
table {
    width:100%;
    margin:1em 0;
    border-spacing:0;
    border-collapse:collapse;
    color:$softwhite;
    cursor:default;
    td, th {
        &:first-child { padding-left:2em; }
        &:last-child { padding-right:2em; }
    }
    th {
        padding:1.5em .5em;
    }
    td {
        padding:1em .5em;
    }
    thead {
        text-align:left;
        background:$middark;
        color:$softwhite;
    }
    tbody {
        .name { color:#fff; }
        tr {
            @include transition(background .3s ease-in-out);
            background:$middark;
            &:nth-child(odd) {
                background:$light;
            }
            &:hover,&.active {
                background:$lighter;
            }
        }
    }
}
.destroy-check,.settings-check {
    background-position:center center;
    background-repeat:no-repeat;
}
.destroy-check {
    width:20px;
    height:20px;
    background-image:url('../images/trash.svg');
    background-size:20px 20px;
}
.settings-check {
    width:20px;
    height:20px;
    background-image:url('../images/settings.svg');
    background-size:20px 20px;
}

