body {
    background:$dark;
}
table {
    width:100%;
    margin:1em 0;
    border-spacing:0;
    border-collapse:collapse;
    color:$softwhite;
    th {
        padding:1.5em .5em;
    }
    td {
        padding:.5em;
    }
    thead {
        text-align:left;
        background:$middark;
        color:$softwhite;
    }
    tbody {
        .ok { background:$good; }
        .nok { background:$alert; }
        .name {
            color:#fff;
        }
        tr {
            @include transition(background .3s ease-in-out);
            &:nth-child(even) {
                background:$light;
            }
            &:hover,&.active {
                background:$lighter;
            }
        }
    }
}
