$good:  #67bb6d;
$warn:  #ef9d0f;
$alert: #c95758;

// Shades of gray
$dark:      #212121;
$middark:   #2a2a2a;
$light:     #323232;
$sidebar:   #3a3a3a;
$lighter:   #565656;
$softwhite: #ccc;

$lightgreen:    #70e164;
$darkgreen:     #51d96d;

// TYPOGRAPHY
// Generic
$monospace: Consolas, monospace;
$ssf: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$sf: Georgia, 'Times New Roman', serif;

// Custom
$montserrat: 'Montserrat', $ssf;
$roboto: 'Roboto', $ssf;
