$good: #67bb6d;
$alert: #c95758;
$softwhite: #efefef;
$softblack: #333;

//TYPO
$monospace: Consolas, monospace;
$ssf: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$sf: Georgia, 'Times New Roman', serif;

$pts: 'PT Sans', $ssf;
