extends ../layout

block body

    #main-container
        aside.aside
            h1#main-title Monitaure
            nav.main-nav
                ul
                    li
                        a(href="#_") Activity
                    li
                        a(href="#_") Reports
                            span.info 14
                    li
                        a(href="#_") Messages
                            span.info 123
            nav.misc-nav
                ul
                    li
                        a(href="#_") Settings
                    li
                        a(href="#_") Help
            nav.auth-nav
                ul
                    li
                        a(href="#_") Log out
            .profile
                img(src="/images/profile.jpg" alt="Profile picture")
                span Bertrand Junqua
        main.main
            section#graph-container
                .data
                    p Min: 
                        span.min 0ms
                    p Max: 
                        span.max 0ms
                    p Avg: 
                        span.avg 0ms
                    p Availability: 
                        span.availability 100%
                    p Last error: 
                        span.last-error 0/00/0000 00:00

                .main-chart
            button#open-form Add a check
            table#checks
                thead
                    tr
                        th Status
                        th Name
                        th Domain name or IP
                        th Port
                        th Response time
                        th Delete
                tbody
                    each check in checks
                        tr(id=check.id)
                            td.status x
                            td.name= check.name
                            td= check.domainNameOrIP
                            td= check.port
                            td.response-time
                                td
                                    button.destroy-check Delete

    .fullscreen-wrapper#check-add-form
        button.close-fullscreen
        form#check-add(method="get")
            fieldset
                input#name(type="text", name="name", placeholder="Name")
                input#domainNameOrIP(type="text", name="domainNameOrIP", placeholder="Domain name or IP")
                input#port(type="text", name="port", placeholder="Port")
                input(type="submit")

    .svgs
        svg(width="100", height="50", version="1.1", xmlns="http://www.w3.org/2000/svg")
            defs
                linearGradient#GreenGradient
                    stop(offset="0%", stop-color="#5eed80")
                    stop(offset="100%", stop-color="#357e2e")
                linearGradient#LightGreenGradient(x1="0%", y1="0%", x2="0%", y2="100%")
                    stop(offset="0%", stop-color="#5eed80")
                    stop(offset="100%", stop-color="#357e2e")
                    // stop(offset="0%", stop-color="#70e164")
                    // stop(offset="100%", stop-color="#51d96d")
