.c-h2 {
    font-size:2.3em;
}
.o-header__logo {
    max-width:none;
    top:1.8em;
    z-index:1;
    cursor:pointer;
}
.c-topnav {
    position:absolute;
    text-align:center;
    .hamburger {
        display:none;
    }
}
.c-topnav__menu {
    position:absolute;
    left:0;
    background:transparent;
    flex-direction:row;
    width:auto;height:auto;
    font-size:1em;
    font-weight:400;
    padding:0 3%;
    .c-topnav__el:first-of-type {
        display:none;
    }
    .c-button--round, .c-button--empty {
        font-size:1em;
    }
    .c-topnav__el,
    .c-topnav__el--btn {
        padding:1.5em 0 0;
    }
}
.c-topnav__el--dummy {
    flex-grow:1;
}
.l-pane-grid {
    display:flex;
    margin:0 auto;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    .c-pane--small & {
        max-width:1400px;
    }
}
.c-pane--big,
.c-footer {
    .l-pane-grid {
        max-width:1400px;
    }
}
.c-pane {
    padding:0;
    position:relative;
    display:flex;
    align-items:center;
    justify-content:center;
}
.c-h2 {
    margin-bottom:3.7em;
}
.c-h2--big {
    font-size:4em;
    line-height:1.4;
    letter-spacing:1px;
}
.c-pane--big {
    height:90vh;
}
.c-pane--small {
    min-height:50vh;
}
.c-pane--big {
    height:100vh;
    &:after {
        content:"Scroll down";
        height:86px;
        width:auto;
        padding-left:1.4em;
    }
    .c-pane--big__wrapper {
        padding:67px 0 0;
        display:flex;
        justify-content:center;
        border:10px solid #fff;
    }
}
.c-pane--first {
    .l-pane-grid__item {
        align-self:flex-start;
        &:first-child {
            margin-left:3%;
        }
        &.l-pane-grid__item--image {
            align-self:center;
            flex-grow:1;
            width:689px;
        }
    }
}
.c-pane--first__wrapper {
    .c-content {
        text-align:left;
        width:100%;
        align-self:center;
    }
}
.c-content {
    margin-top:0;
}
.l-pane-grid__item--image {
    margin-top:0;
}
.c-button--goto {
    font-size:1.1em;
    &:after {
        bottom:.27em;
    }
}
.c-image-circle {
	max-width:none;
}
.c-pane--second {
    .l-pane-grid {
        align-items:flex-start;
        justify-content:space-around;
        background:#fff url('../../svg/dot-line.svg') center 45px repeat-x;
        background-size:15px 15px;
    }
    .l-pane-grid__item {
        flex-basis:33%;
    }
}
.c-imgtxt__body {
    font-size:1.2em;
}

.c-pane--small {
    text-align:left;
    &.c-pane--realtime {
        padding:3% 2em;
    }
}
.c-pane--small .l-pane-grid__item {
    flex-direction:row;
}
.c-pane--realtime {
    .l-pane-grid__item {
        &:first-of-type {
            width:40%;
        }
        &:nth-of-type(2) {
            flex-grow:1;
        }
    }
    .c-pane--small__image {
        margin-left:auto;
    }
}
.c-pane__body {
    font-size:1.25em;
}
.c-pane--small__image {
    margin:0 auto;
}
.c-pane--small__number {
    margin:0 3.8vw 0;
    line-height:.6;
}
.c-pane--small__title {
    font-size:2.35em;
}
.c-pane--notifications .l-pane-grid__item {
    &:first-of-type {
        order:2;
        max-width:40%;
    }
}
.c-pane--bubbles {
    position:relative;
    .l-pane-grid {
        z-index:1;
    }
}
.c-pane--bubbles__bubbles-container {
    overflow:hidden;
    position:absolute;
    left:0;right:0;
    top:0;
    z-index:0;
    height:100%;
}
.c-pane--bubbles__bubble {
    opacity:.2;
    position:absolute;
    &:first-of-type {
        bottom:-150px;
        left:-150px;
        height:340px;
        width:340px;
        border-radius:340px;
        border:solid 10px #fff;
    }
    &:nth-of-type(2) {
        top:-40px;
        left:25%;
        height:85px;
        width:85px;
        border-radius:85px;
        border:solid 10px #fff;
    }
    &:last-of-type {
        top:7%;
        right:-65px;
        height:120px;
        width:120px;
        border-radius:120px;
        border:solid 10px #fff;
    }
    height:50px;
    width:50px;
    border-radius:50px;
    border:solid 10px #fff;
}
.c-pane--hybrid .l-pane-grid__item {
    &:first-of-type {
        width:40%;
    }
    &:nth-of-type(2) {
        flex-grow:1;
    }
}
.c-pane--about {
    .c-h2 {
        margin-top:0;
        margin-bottom:1.35em;
    }
}
.c-person {
    font-size:1.8em;
    margin-top:5em;
}
.c-pane--about__wrapper {
    max-width:1200px;
    position:relative;
    &:before {
        content:"";
        display:block;
        position:absolute;
        left:0;
        right:0;
        margin:0 auto;
        top:47%;
        width:200px;
        height:15px;
        background:transparent url('../../svg/dot-line.svg') center center repeat-x;
        background-size:15px 15px;
    }
}
.c-pane--tour {
    background-image:url('/images/insitu-dashboard.jpg');
}
.c-dashboard-tuto {
    position:relative;
}
.c-dashboard-tuto__captions {
    display:block;
    position:absolute;
    bottom:1.9em;
    left:0;
    right:0;
}
.creation-number, .creation-step:before {
    display:inline-flex;
    cursor:pointer;
    justify-content:center;
    align-items:center;
    width:2.2em;height:2.2em;
    border-radius:100%;
    background:transparent;
    border:$light solid 3px;
    box-shadow:0 0 0 1.5px $bluegreen;
    transition:all .2s ease-in-out;
}
.creation-number.s-is-active, .creation-step.s-is-active:before{
    color:#fff;
    background:$bluegreen;
}
.creation-number {
    font-size:.8em;
    color:$bluegreen;
    border-width:2px;
    box-shadow:0 0 0 1px $bluegreen;
    position:absolute;
    bottom:0;
}
.creation-number-1 {
    left:30.7%;
}
.creation-number-2 {
    left:51.3%;
}
.creation-number-3 {
    left:72.5%;
}
.creation-number-4 {
    left:88.3%;
}
.creation-step {
    display:none;
    text-align:center;
    &:before {
        content:attr(data-step);
        font-size:1.15em;
        border-color:#fff;
    }
    &:after {
        content:'';
        display:block;
        width:100%;
        height:1px;
        margin:4em 0;
        background:$softwhite;
    }
    &.s-is-active {
        display:block;
    }
}
.creation-step__title {
    font-size:1.32em;
    font-weight:400;
    display:block;
    text-align:center;
    margin:1em 0;
    &:after {
        content:none;
    }
}
.c-pane--try {
    position:relative;
    height:388px;
    min-height:0;
    &:before {
        content:'';
        display:block;
        position:absolute;
        left:5vw;
        bottom:0;
        z-index:1;
        width:126px;
        height:504px;
        background:transparent url('/images/iphone-sideview.png') center center no-repeat;
    }
    .l-pane-grid {
        flex-direction:column;
    }
    .c-button--round {
        font-size:1.2em;
        padding:.8em 2.3em; }
}
.c-footer {
    text-align:left;
    font-size:1.25em;
}
.c-footer__logo {
    min-width:200px;
}
.c-footer__nav {
    padding:0 10%;
}
