.front {
    text-align:center;
    background:#383B3E;
     h2 {
        font-size:2.5em;
    }
}
.o-header__logo {
    position:absolute;
    left:0;
    top:0;
    margin:2rem;
}
.o-header__menu {
    position:absolute;
    right:0;
    top:0;
    margin:2em;
    .button {
        margin:0;
    }
}
.c-header__menu-item {
    display:inline-block;
    text-transform:uppercase;
    font-size:1.24em;
    font-weight:600;
    margin-left:2em;
}
.desk-section {
    display:flex;
    align-items:center;
    height:calc(100vh - 20px);
    background:url('/images/hp-desktop.jpg') center center no-repeat;
    background-size:cover;
    border-bottom:solid 20px $green;
}
