.page-error.main-container {
    display:flex;
    align-items:center;
    height:100%;
    background:transparent center bottom no-repeat;
    background-size:cover;
    overflow-x:hidden;
    &.page-404 {
        background-image:url('/images/404.svg');
    }
    .content {
        font-size:1.2em;
        text-align:center;
        color:$lightwhite;
        h1 {
            font-size:5em;
            line-height:1em;
            margin:.2em 0;
        }
        .button {
            margin-top:1.5em;
        }
    }
}
