.sign-in {
    background: url('/images/background.svg') no-repeat center center fixed;
    background-size: cover;
    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        p {
            font-family:$roboto;
            color: $lighter;
            text-align: center;
            font-size: .75em;
            a {
                color: $lightgreen;
            }
        }
    }
}

