#logo {
    max-width:165px;
}
.aside {
    background:$light;
    box-shadow:0 0 60px 0 rgba(0,0,0,.4);
    nav {
        padding:1em 0;
        font: 1.2em $roboto;
        border-bottom:1px solid $dark;
        &:last-of-type {
            border:0;
        }
        li {
            a {
                position:relative;
                &:before {
                    content:"";
                    display:block;
                    position:absolute;
                    top:calc(50% - .7em);
                    left:calc(-2em + 7px);
                    height:1.4em;
                    width:3px;
                    background:$info;
                    opacity:0;
                    @include transition(all .4s ease-in-out);
                }
                padding:1em 0;
                display:block;
            }
            &.active a, a:hover {
                &:before {
                    opacity:1;
                }
            }
        }
    }
}
.profile {
    margin-bottom:1.5em;
    img,span {
        display:inline-block;
        vertical-align:middle;
    }
    img {
        width:50px;
        height:50px;
        border-radius:50%;
        margin-right:1.1em;
    }
}
