#logo {
    max-width:165px;
}
.c-nav {
    padding:1em 0;
    font: 1.2em $roboto;
    border-bottom:1px solid $dark;
    &:last-of-type {
        border:0;
    }
}
.c-nav__item {
    &.active .c-nav__link, .c-nav__link:hover {
        &:before {
            opacity:1;
        }
    }
}
.c-nav__link {
    position:relative;
    &:before {
        content:"";
        display:block;
        position:absolute;
        top:calc(50% - .7em);
        left:calc(-2em + 7px);
        height:1.4em;
        width:3px;
        background:$info;
        opacity:0;
        transition:all .4s ease-in-out;
    }
    padding:1em 0;
    display:block;
}
.disabled {
    text-decoration:line-through;
}
.info {
    background:$info;
    border-radius:1em;
    color:$dark;
    padding:.3em .5em;
    font:700 .75em $montserrat;
    float:right;
}
