.aside {
    position:relative;
    box-shadow:0 0 60px 0 rgba(0,0,0,.4);
    nav {
        padding:1em 0;
        font: 1.2em $roboto;
        border-bottom:1px solid $dark;
        &:last-of-type {
            border:0;
        }
        li {
            padding:1em 0;
        }
    }
}
.profile {
    img,span {
        display:inline-block;
        vertical-align:middle;
    }
    img {
        margin-right:1.5em;
    }
}
